.map {
    padding: 0px
}
div.fill {
    width: 100%;
    height: 100%
}
img.olTileImage {
    max-width: none
}
#map img {
    max-width: none
}
.clear {
    clear: both
}
#legendaMapa {
    text-align: left;
    margin-left: -20px;
    padding: 0px !important;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    margin-top: 21px;
    overflow: auto;
    font-size: 10px !important
}
#legendaMapa ul {
    list-style: none;
    padding-bottom: 10px
}
#legendaMapa ul li {
    color: #000099;
    background-repeat: no-repeat
}
#legendaMapa ul li ul {
    margin-left: 10px
}
#legendaMapa a:link,
#menuVertical a:visited {
    color: #999999
}
#legendaMapa a:hover {
    text-decoration: none
}
#legendaMapa ul li ul li {
    color: #555555;
    display: block;
    margin-left: -10px;
    text-align: left;
    min-height: 16px;
    background-position: 16px 0px;
    padding-top: 3px
}
#legendaMapa ul li ul li span {
    margin-right: 5px;
    border: 1px solid #000;
    margin-top: -3px;
    margin-bottom: 2px;    
}

#legendaMapa ul li ul li a{
    margin-left: 10px;
}

#legendaMapa input {
    border: 0px;
    float: left;
    margin-top: 3px
}
#rosaDosVentos {
    position: absolute;
    top: 10px;
    width: 70px;
    height: 72px;
    right: 40px;
    background-image: url(/media/mapas/rosa_ventos.png);
    background-size: 100%
}
.ol-scale-line {
    background: #fff
}
.ol-scale-line-inner {
    color: #000 !important;
    border-color: #000 !important
}
#opcoesMapa {
    overflow: auto;
    height: 500px
}
.iconeMais {
    background-image: url("/media/imagens/mais.png")
}
.iconeMenos {
    background-image: url("/media/imagens/menos.png")
}
.iconeMais ul {
    display: none
}
.clusterOption {
    font-size: 0.67em;
    border: 1px solid black;
    padding-left: 18px;
    width: 230px;
    margin: 5px
}
.clusterOption .makeCluster {
    padding: 0px
}
.clusterOption .makeCluster input {
    margin-right: 1px !important
}
.camposRestricao {
    width: 100px;
    display: block;
    float: left;
    height: 40px
}
.camposRestricao select {
    border: 1px solid #000;
    background-color: #fff;
    width: 98px
}
.icone {
    width: 22px;
    height: 22px;
    display: block;
    float: left;
    background-size: 22px
}
.iconeMin {
    width: 12px;
    height: 12px;
    display: block;
    float: left
}
.legendaInterna {
    display: block;
    padding-left: 0px
}
div ul.legendaInterna li {
    margin: 0px;
    clear: both
}
#legendaMapa label {
    height: 22px;
    width: auto;
    font-weight: normal;
    display: block
}
#sliderTransp0 {
    width: 100px
}
.transparencia {
    margin-left: 90px;
    margin-top: -26px
}
.transparencia div {
    width: 100px
}
.estiloCaixa {
    display: none
}
.olControlLoadingPanel {
    background-image: url(/js/componentes/maps/openLayers/theme/default/img/loading81.gif);
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    display: none;
    background-color: #ccc;
    opacity: 0.8
}
.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 9px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 80px
}
.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px
}
.ol-popup-closer:after {
    content: "✖"
}
